<div th:fragment="content" ng-controller="IndexController">
	<div id="content">
		<div class="container-fluid">
			<div class="lock-container">
				<div class="panel panel-default text-center paper-shadow" data-z="0.5">
					<div class="panel-body">
						<h2>Esqueceu sua senha?</h2>
						<p>Informe o seu E-mail e clique em "Enviar".</p>
						<p>Uma mensagem será enviada para seu e-mail com as instruções de como proceder para criar uma nova senha.</p>
						<div class="form-group">
							<form th:action="@{/recupera-senha}" method='post'>
								<div class="form-control-material">
									<input class="form-control" id="email" name="email" type="text" placeholder="E-mail"/>
									<label for="email">E-mail</label>
								</div>
								<div style="margin-top:20px;">
									<input type="submit" class="btn btn-primary" name="bto" value="Enviar"/>
								</div>
							</form>
						</div>
						<div class="row pull-right" style="margin-top: 30px;">
							<a th:href="@{/}">Fazer login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>