.center {text-align: center;}
.cb {clear: both;}

.mr6 {margin-right: 6px !important;}
.mb15 {margin-bottom: 15px;}

.group-check {display: block;}
.group-check div {width: 105px;display: inline-block;}